body {
	font-family: 'Source Sans Pro', sans-serif;
}

section {
	max-width: 700px;
	width: 80%;
	margin: 100px auto;
	border: 20px solid #bdc3c7;
	padding: 1.66%;
}

div p:first-child {
	color: #3498bd;
	letter-spacing: 0.2rem;
}

h2 {
	font-weight: bolder;
	color: #2c3e50;
	font-size: 2.0rem;
}

div p:nth-of-type(2) {
	border-left: 5px solid #bdc3c7;
	padding-left:  4px;
}

/* Gradient transparent - color - transparent */

hr {
   border-top: #EFF0F1;
  }